<h1>Authors currently stored in the library</h1>
 <%= link_to 'Add a new author', new_author_path %>
<table>
  <tr>
    <th>Name</th>
   
  </tr>
 
  <% @authors.each do |author| %>
    <tr>
      <td><%= author.author %></td>
      
      <td><%= link_to 'Show', author_path(author) %></td>
       <td><%= link_to 'Edit', edit_author_path(author) %></td>
       <td><%= link_to 'Delete', author_path(author),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>