<h1>New authors</h1>


<%= form_for :author, url: authors_path do |f| %>
  <p>
    <%= f.label :Author %><br>
    <%= f.text_field :author %>
  </p>
 
  
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
<%= link_to 'Back', authors_path %>